<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head',{title:'ChoiceMate - Vote on Poll'}) %>
  <%- include('partials/_nav') %>

    <body>

      <main>
        <div class="container vote">

          <form action="/polls/<%- poll.id %>" method="POST">



            <h3> <%- poll.title %></h3>

            <div class="meta">
              <label for="name"> Name</label>
              <input id="name" name="name" type="text" placeholder="Enter your name">
            </div>

            <h3> <%- poll.question %></h3>


            <div class="choices-container">

              <% for (let choice in poll.choices) { %>
                <div class="option">

                  <div class="rank">
                    <%- Number(choice)+1 %>
                  </div>
                  <div class="dropable" rank="<%- choice %>">
                    <i class="fas fa-grip-vertical"></i>
                    <div class="draggable" draggable="true" id="<%- poll.choices[choice].id %>">
                      <%- poll.choices[choice].description %>
                    </div>

                  </div>

                </div>


                <% } %>

            </div>

            <button class="vote-button"> Vote</button>
          </form>

        </div>
      </main>

      <!-- TODO: Move to head partial after everyone pushes -->
      <script defer src="/scripts/polls_vote.js"></script>
    </body>


</html>
