<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head',{title:'ChoiceMate - Vote on Poll'}) %>
  <!-- Page CSS -->
  <link rel="stylesheet" href="/styles/polls_new.css" />
  <link rel="stylesheet" href="/styles/polls_vote.css" />
  </head>

  <%- include('partials/_nav') %>

    <body>

      <main>
        <div class="container vote">

          <form action="/polls/<%- id %>" method="POST">

            <h3> <%- title %></h3>

            <div class="meta">
              <label for="name"> Name</label>
              <input id="name" name="name" type="text" placeholder="Enter your name">
            </div>
            <h3> <%- question %></h3>
            <div class="instruction">Drag and drop the choices to sort them from the most to the least preferable</div>
            <div class="choices-container">
              <% for (let choice in choices) { %>
                <div class="option">
                  <div class="rank">
                    <%- Number(choice)+1 %>
                  </div>
                  <div class="dropable" name="<%- choice %>">
                    <i class="fas fa-grip-vertical"></i>
                    <div class="draggable" draggable="true" id="<%- choices[choice].id %>">
                      <%- choices[choice].description %>
                    </div>
                  </div>
                </div>
                <% } %>
            </div>
            <input style="display: none;" type="text" name="results" id="results">
            <button class="vote-button"> Vote</button>
          </form>

        </div>
      </main>

      <!-- TODO: Move to head partial after everyone pushes -->
      <script defer src="/scripts/polls_vote.js"></script>
    </body>


</html>
