<!DOCTYPE html>
<html lang="en">



<%- include('partials/_head',{title:'ChoiceMate - Create a New Poll'}) %>
  <!-- Page CSS -->
  <link rel="stylesheet" href="/styles/polls_new.css" />
  </head>
  <%- include('partials/_nav') %>

    <body>

      <main>
        <div class="container">

          <form action="/polls" method="POST">


            <div class="meta">
              <label for="title"> Title</label>
              <input id="title" name="title" type="text" placeholder="Enter your poll title" value="<%= content.title %>">
            </div>
            <div class="meta">
              <label for="question"> Question</label>
              <input id="question" name="question" type="text" placeholder="Enter your poll question" value="<%= content.question %>">
            </div>


            <fieldset>
              <label>Choices</label>
              <div class="choice">
                <input id="1" name="choice-1" type="text" placeholder="Add a choice" value="<%= content.answers.one %>">
                <i class="delete-button fas fa-trash-alt"></i>

              </div>
              <div class="choice">
                <input id="2" name="choice-2" type="text" placeholder="Add a choice" value="<%= content.answers.two %>">
                <i class="delete-button fas fa-trash-alt"></i>
              </div>
              <div class="choice">
                <input id="3" name="choice-3" type="text" placeholder="Add a choice" value="<%= content.answers.three %>">
                <i class="delete-button fas fa-trash-alt"></i>
              </div>
              <div class="choice">
                <input id="4" name="choice-4" type="text" placeholder="Add a choice" value="<%= content.answers.four %>">
                <i class="delete-button fas fa-trash-alt"></i>
              </div>

            </fieldset>
            <div class="tooltip add">
              <span class="tooltiptext">Add another choice</span>
              <i class="add-button fas fa-plus-circle"></i>
            </div>
            <button class="action-button">Create a New Poll</button>

          </form>

        </div>
      </main>

      <!-- TODO: Move to head partial after everyone pushes -->
      <script defer src="/scripts/polls_new.js"></script>
      <script defer src="/scripts/constants.js"></script>
      <script defer src="/scripts/elements_creator.js"></script>
    </body>

</html>
