<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head',{title:'ChoiceMate - Poll Results'}) %>
    <link rel="stylesheet" href="/styles/polls_results.css"/>
  </html>
  <body>
    <%- include('partials/_nav') %>
    <main>
      <container class='poll-results'>
        <section class='poll-header'>
          <h1><%= pollTitle %></h1>
          <p><%= numOfVoters %><i class="fas fa-user" id="voter-counter"></i></p>
        </section>
        <section class='poll-body'>
          <h2><%= pollQuestion %></h2>
          <% for (const option of options) { %>
            <div class='option'>
              <div class='graph-bar-container'>
                <div class='graph-bar-opt' <% /* eslint-disable css-propertyvalueexpected */ %> style='width: <%= option.sum %>%;' ></div>
              </div>
              <p><%= option.sum %>% <%= option.description %></p>
            </div>
          <% } %>
        </section>
        <section class='poll-footer'>
          <form method="POST" action="/polls/<%= pollIdNum %>/results?_method=PATCH" onsubmit="return confirm('Poll will be marked as complete, press OK to confirm.')">
            <button type='submit'>Complete</button>
          </form>
        </section>
      </container>
    </main>
  </body>

</html>
